<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div id="filters">
    <form id="filter-form">
        <!-- First row of filters -->
        <div class="filter-row">
            <label for="make">Make:</label>
            <select id="make" name="make">
                <option value="">All</option>
            </select>

            <label for="model">Model:</label>
            <select id="model" name="model">
                <option value="">All</option>
            </select>

            <label for="start_year">Start Year:</label>
            <select id="start_year" name="start_year">
                <option value="">Any</option>
            </select>

            <label for="end_year">End Year:</label>
            <select id="end_year" name="end_year">
                <option value="">Any</option>
            </select>

            <label for="state">State:</label>
            <select id="state" name="state">
                <option value="">All</option>
            </select>
        </div>

        <!-- Second row of filters -->
        <div class="filter-row">
            <label for="license_plate">License Plate:</label>
            <input type="text" id="license_plate" name="license_plate">

            <label for="color">Color:</label>
            <input type="text" id="color" name="color">

            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date">

            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date">

            <button type="button" id="reset-filters">Reset Filters</button>
            <div id="count-container">
                <span id="car-count">Car Count: 0</span>
                <span id="unknown-count">Unknown Count: 0</span>
            </div>
        </div>
    </form>
</div>

<div id="map"></div>

<!-- Modal Structure -->
<div id="unknown-modal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="modal-close">&times;</span>
        <h2>Unknown Cars</h2>
        <table id="unknown-cars-table">
            <thead>
            <tr>
                <th>License Plate</th>
                <th>State</th>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th colspan="2">Actions</th> <!-- Adjusted colspan to accommodate more buttons -->
            </tr>
            </thead>
            <tbody>
            <!-- Rows will be populated dynamically -->
            </tbody>
        </table>

    </div>
</div>

<!-- Video Modal Structure -->
<div id="video-modal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="video-modal-close">&times;</span>
        <video id="car-video" width="640" height="480" controls>
            <source id="car-video-source" src="" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
{% endblock %}
